.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  height: 80px;
  color: white;
  width: 100%;
}
.App-header img {
  float: left;
  margin-left :20px;
}

.App-header h1 {
  float:left;
  margin-left: 100px;

}

.App-header-searchbar {
  float: right;
  margin-top: 40px;
  margin-right: 50px;
  
}

.App-intro {
  font-size: large;
}
