.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.active {
  padding-bottom: 10px;
  border-bottom: 3px solid teal;
  border-radius: 10px;
}


.App {
  text-align: center;
  
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  height: 80px;
  color: white;
  width: 100%;
}
.App-header img {
  margin-left :20px;
  float: left;
}

.App-header h1 {
  float:left;
  padding-top: 15px;
  font-size: 32px;
  margin-left: 80px;
}

.App-header-searchbar {
  text-align: left;
  float: right; 
  margin-right: 100px; 
  margin-top: 20px;
  
}
.App-header-searchbar label {
  display:inline-block;
  font-size: 14px;
  
}
.App-header-searchbar input[type=text] {
  font-size: 16px;
  border-radius:10px;
  padding: 10px; 
  display:block;
}

.App-header-searchbar input[type=submit] {
 
  color: #fff !important;
  text-transform: uppercase;
  background: #60a3bc;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  display: inline-block;
  border: none;
}

.App-header-searchbar input[type=submit]:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.Container {
  
  width: 1000px;
  text-align: center;
  
  margin-left: auto;
  margin-right: auto;

}
.NavigationBar  {
 padding-bottom: 20px;
 background-color: #222;
}
.NavigationBar ul {
 
  margin: 0px;
}

.NavigationBar ul li {
  display: inline-block;
  padding-left: 100px;
  margin-top: 20px;
  padding-right:100px;
}

.NavigationBar ul li a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px, -3px, 22px, 1px, black;
  
}

.NavigationBar ul li:hover {
  cursor: pointer;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.WeatherInfo {
  float: left;
  width: 60%;
  padding-top: 40px;
}

.Humidity {
  float: right;
  width: 40%;
}
